$colorHeader: #1A6DA1;
$colorBgOption: #166699;
$colorBgPic: #144C70;
$colorWhite: #fff;
$colorBlack: black;
$colorBorder: #EDEDED;
$colorBorderDark: #4580A6;
$colorBorderLight: #EBEEF0;
$colorArrowGrey: #A1ACBE;
$gradient: linear-gradient(285.88deg, #144C70 0%, #2F6F97 100%);
$colorBgTabsChecked: #1A6DA2;
$colorBgTabs: #125B89;


$colorRadioBorder: #6595A3;
$colorRadioBg: #2D75A3;
$colorRadioChecked: #00ABDB;


$colorGrey: #666666;
